:root {
    --main-bg-color: #f8f9fa; 
    --navbar-bg-color: #e0e0e0; 
    --text-color: #333333; 
    --button-bg-color: #6c757d; 
    --button-text-color: #ffffff; 
    --link-hover-color: #3498db; 
  }
html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
.navbar-contatti{
    background-color: var(--navbar-bg-color);
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 100px;
    margin-bottom: 0;
}
.icon-cont{
    align-content: center;
    font-size: 50px;
    margin-left: 50px;
    margin-right: 50px;
    transition: all 0.3s ease-in-out;
}
.icon-cont:hover{
    text-decoration: underline;
    color: blue;
}
.main-content{
    background-color: var(--main-bg-color);
    z-index: 1;
    height: 100vh;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}
.list-group{
    font-size: 35px;
    margin-top: 0;
    
}
.list-group-item{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}
